body {
    min-height: 100vh;
}
header a span:before {
    content: '/'
}
h1 span.title:before {
    content: '/'
}
.in-article-list {
    padding: 13px;
    background-color: #f0f3f3;
}
.in-article-list-p {
    margin: 0px;
}
h1::before{}