body {
    min-height: 100vh;
}
.light-theme {
	color: #ffffff;
	background: #000000;
}
.dark-theme {
	color: #000000;
	background: #ffffff;
}
header a span:before {
    content: '/'
}
h2:before {
    content: '## '
}
h3:before {
    content: '### '
}
h1.h1-mono span:before {
    content: '/'
}
h1.h1-mono span {
    text-transform: lowercase;
}
h1.h1-mono-archives span:before {
    content: '/archives/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
h1.h1-mono-tags span:before {
    content: '/tags/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
h1.h1-mono-post span:before {
    content: '# ';
}
.in-article-list {
    padding: 13px;
    background-color: #f0f3f3;
}
.in-article-list-p {
    margin: 0px;
}
li {
    list-style: none;
    text-indent:-0.75em;
}
li:before {
    content: '- ';
}
.series-name {
    font-weight: bold;
}
