$dark_base_color: #2c2c2c;
$dark_link_color: #BAB4F9;
body {
    min-height: 100vh;
}
.dark-theme {
	color: #ffffff;
    opacity: 0.9;
	background: #1F2023;
    a {
        color: $dark_link_color;
    }
    a:visited {
        color: darken($dark_link_color, 5%);
    }
    .in-article-list {
        background: lighten($dark_base_color, 5%);
    }
    code {
        background: lighten($dark_base_color, 10%);
    }
    .in-article-list-p {
        background: lighten($dark_base_color, 5%);
    }
    pre {
        background: lighten($dark_base_color, 5%);
    }
}
header a span:before {
    content: '/'
}
h2:before {
    content: '## '
}
h3:before {
    content: '### '
}
h1.h1-mono span:before {
    content: '/'
}
h1.h1-mono span {
    text-transform: lowercase;
}
h1.h1-mono-archives span:before {
    content: '/archives/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
h1.h1-mono-tags span:before {
    content: '/tags/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
h1.h1-mono-post span:before {
    content: '# ';
}
.in-article-list {
    padding: 13px;
    background-color: #f0f3f3;
}
.in-article-list-p {
    margin: 0px;
}
li {
    list-style: none;
    text-indent:-0.75em;
}
li:before {
    content: '- ';
}
.series-name {
    font-weight: bold;
}
