$dark_base_color: #232831;
$dark_link_color: #BAB4F9;
html {
    height: -webkit-fill-available;
}
body {
    padding: 0px 1em 0px 1em !important;
}
.wrapper{
    min-height: 100vh; /* ブラウザの高さ fallback */
    min-height: calc(var(--vh, 1vh) * 100); /* ブラウザの高さを js で計算 iOS 対策 */
    position: relative;
    padding-top: 12px;
    padding-bottom: 104px; /* footer + margin の高さ */
    box-sizing: border-box;
}
main {
    margin-bottom: 32px;
}
.tag-list {
    margin-bottom: 32px;
    span::after {
        content: ', ';
    }
    span:last-child::after {
        content: none;
    }
}
.pagination {
    margin-top: 32px;
    margin-bottom: 32px;
}
footer {
    font-size: 0.75em;
    margin-top: 12px;
    padding-top: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 92px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
header a span:before {
    content: '/'
}
.title-container {
    display: flex;
    justify-content: space-between;
}
.site-title {
    font-size: 1.25em;
}
input[type="checkbox"]{
    vertical-align:middle;
}
h2 {
    margin-top: 2.5em;
}
h2:before {
    content: '## '
}
h3:before {
    content: '### '
}
.h1-mono span:before {
    content: '/'
}
.h1-mono span {
    text-transform: lowercase;
}
.h1-mono-archives span:before {
    content: '/archives/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
.h1-mono-tags span:before {
    content: '/tags/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
.h1-mono-series span:before {
    content: '/series/ ';
    font-size: 0.75em;
    text-transform: lowercase;
}
.h1-mono-post span:before {
    content: '# ';
}
.h1-mono,.h1-mono-archives,.h1-mono-post,.h1-mono-series,.h1-mono-tags {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 12px;
}
.in-article-list {
    padding: 13px;
    background-color: #f0f3f3;
}
.in-article-list-p {
    margin: 0px;
}
ul {
    li {
        list-style: none;
        text-indent:-0.75em;
    }
    li:before {
        content: '- ';
    }
}
ol.num-page-list {
    li {
        margin: 4px 0px 4px 0px;
        text-indent:0.2em;
    }
}
.series-name {
    font-weight: bold;
}
.article-date-box {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    .article-date {
        font-size: 1em;
        margin-top: 0px;
        margin-bottom: 21px;
        margin-right: 12px;
    }
}
.dark-theme {
	color: #ffffff;
    opacity: 0.9;
	background: $dark_base_color;
    a {
        color: $dark_link_color;
    }
    a:visited {
        color: darken($dark_link_color, 5%);
    }
    .in-article-list {
        background: lighten($dark_base_color, 5%);
    }
    code {
        background: lighten($dark_base_color, 10%);
    }
    .in-article-list-p {
        background: lighten($dark_base_color, 5%);
    }
    pre {
        background: lighten($dark_base_color, 5%);
    }
    pre code {
        background: lighten($dark_base_color, 5%);
    }
    .article-date {
        opacity: 0.8;
    }
    footer {
        border-top-color: rgba(255, 255, 255, 0.9);
    }
    .h1-mono,.h1-mono-archives,.h1-mono-post,.h1-mono-series,.h1-mono-tags {
        border-bottom-color: rgba(255, 255, 255, 0.9);
    }
}