{{ partial "header.html" . }}

{{ if findRE "^/archives/[0-9]{4}-[0-9]{2}/$" .RelPermalink }}
    <h1 class="h1-mono-archives"><span>{{ .Title }}</span></h1>
{{ else if findRE "^/tags/" .RelPermalink }}
    <h1 class="h1-mono-tags"><span>{{ .Title }}</span></h1>
{{ else if not .IsHome }}
    <h1 class="h1-mono"><span>{{ .Title }}</span></h1>
{{ end }}

{{ .Content }}

<ul class="page-list">
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ $paginator := .Paginate (where $pages "Section" "!=" "") 20 }}
    {{ range $paginator.Pages }}
    <li>
        <span class="list-date">{{ .Date.Format "2006-01-02" }}</span>
        <br>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
</ul>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}