{{ partial "header.html" . }}
<main>
    {{ if or (eq .Page.RelPermalink "/profile/") (eq .Page.RelPermalink "/search/")}}
        <h1 class="h1-mono"><span>{{ .Title | markdownify }}</span></h1>
    {{ else if findRE "^/post/" .Page.RelPermalink }}
        <h1 class="h1-mono-post"><span>{{ .Title | markdownify }}</span></h1>
    {{ else }}
        <h1>{{ .Title | markdownify }}</h1>
    {{ end }}
    {{ if (gt .Params.date 0) }}
    <div class="article-date-box">
    <p class="article-date">
        Created: {{ .Date.Format "2006-01-02" }}, Updated: {{ .Lastmod.Format "2006-01-02" }}
    </p>
    </div>
    {{ end }}
    {{ .Content }}
</main>

{{ if .Params.tags }}
<p>
    Tags:
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</p>
{{ end }}
{{ partial "footer.html" . }}