{{ $name := .Get "name" }}
{{ $currentUrl := .Page.Permalink }}
<div class="in-article-list">
<p class="in-article-list-p">Series: <span class="series-name">{{ $name }}</span></p>
<ol class="num-page-list" reversed>
{{ range $key, $series := site.Taxonomies.series }}
    {{ $key_urlized := $key | urlize }}
    {{ $name_urlized := $name | urlize }}
    {{ if eq $key_urlized $name_urlized }}
        {{ range $series.Pages }}
    <li>
        {{ if eq .Permalink $currentUrl }}
            {{ .Date.Format "2006-01-02" }} {{ .Title | markdownify }}
        {{ else }}
            {{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        {{ end }}
    </li>
        {{ end }}
    {{ end }}
{{ end }}
</ol>
</div>
